In [7]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt 
import numpy as np
from datetime import datetime
from datetime import timedelta
from struct import unpack

url = "https://www.data.gouv.fr/fr/datasets/r/4acad602-d8b1-4516-bc71-7d5574d5f33e"
csv = pd.read_csv(url, delimiter=',', parse_dates=['extract_date'])

In [12]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29593 entries, 0 to 29592
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   extract_date                 29593 non-null  datetime64[ns]
 1   departement                  29593 non-null  object
 2   region                       29593 non-null  int64
 3   libelle_reg                  29593 non-null  object
 4   libelle_dep                  29593 non-null  object
 5   tx_incid                     23634 non-null  float64
 6   R                            4947 non-null   float64
 7   taux_occupation_sae          29593 non-null  float64
 8   tx_pos                       23028 non-null  float64
 9   tx_incid_couleur             23634 non-null  object
 10  R_couleur                    4947 non-null   object
 11  taux_occupation_sae_couleur  29593 non-null  object
 12  tx_pos_couleur               23028 non-null  object
 13  nb_orange                    29593 non-null  int64
 14  nb_rouge                     29593 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 3.4+ MB